body {

	margin: 0px 170px 0px 170px;

	background-color: #314e6c;

	color: #000000;

	font: 1em Trebuchet MS;

	/*font-family: verdana,sans;*/

}



.pix {

	text-align: center;

}



.quotes {

	color: #000000;

	font-size: x-small;

}





h1 {

	font-size: 22px;

	text-align: center;

}



h2 {

	font-size: 20px;

	text-align: center;

}



em {

	color: gray;

	font-size: x-small;

}



a:link {

	font-weight: normal;

	color: #000000;

}



a:visited {

	font-weight: normal;

	color: #cccccc;

}



/*

a:hover {

	border: 1px solid #000000;

	text-decoration: none;

}

*/



#page {

	margin: 0px;

	border-left: 3px solid black;

	border-right: 3px solid black;

	background-color: white;

	background-repeat: repeat-x;

}



#content {

	position: relative;

	margin: 0px 50px 20px 180px;

	padding-right: 10px;

}



h3 {

	border-bottom: 1px solid #cccccc;

}



hr {

	color: #023390;

	background-color: #023390;

}



#footer {

	text-align: center;

	color: gray;

	font-size: x-small;

	border-top: 1px solid #cccccc;

	margin-top: 30px;

}
